# =============== #
# Unity 기본 무시 #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
 
# =============== #
# Unity Cache     #
# =============== #
# 캐시는 불필요하고 용량이 커서 제외
sysinfo.txt
*.pidb
*.userprefs
*.booproj
*.suo
*.user
*.userosscache
*.sln.docstates

# =============== #
# 빌드 산출물      #
# =============== #
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.ipa
*.msi

# =============== #
# IDE / 편집기     #
# =============== #
.vscode/
.idea/
*.csproj
*.sln
*.unityproj
*.tmproj
*.pidb
*.booproj

# =============== #
# 기타 불필요 파일 #
# =============== #
.DS_Store
Thumbs.db
